.content-box{
    --paddingLeft:var(--columnPaddingNormal);
    --paddingRight:var(--columnPaddingMedium);
    --headerPaddingLeft:var(--paddingLeft);
    --headerPaddingRight:var(--paddingRight);
    --headerMaxWidth:var(--copyMaxWidth);
    --bodyPaddingLeft:var(--paddingLeft);
    --bodyPaddingRight:var(--paddingRight);
    --bodyMaxWidth:var(--copyMaxWidth);
    --footerPaddingLeft:var(--paddingLeft);
    --footerPaddingRight:var(--paddingLeft);
    --footerRowGap:var(--rowGapMedium);
    --ctaSpacing:16px;
    --footerGap:"";
    scroll-margin-top:var(--fixedNavScrollMargin)
}
.HubPage .content-box{
    --paddingLeft:0px;
    --paddingRight:0px;
    --footerRowGap:32px;
    --titleAnchorDisplay:none
}
.content-box--accented{
    --titleColor:var(--accentColor)
}
.content-box.variant--Hero{
    --titleFontSize:48px;
    --titleLineHeight:56px;
    --titleLetterSpacing:-0.02em;
    --rowGap:var(--rowGapLarge)
}
.content-box.variant--Hero,.content-box.variant--Section{
    --titleWeight:var(--fontWeightBold);
    --paragraphGap:20px
}
.content-box.variant--Section{
    --paddingRight:var(--columnPaddingXLarge);
    --rowGap:var(--rowGapMedium);
    --titleFontSize:34px;
    --titleLineHeight:1.294117647;
    --titleLetterSpacing:-0.1px
}
.HubPage .content-box.variant--Section{
    --rowGap:16px;
    --titleFontSize:32px;
    --titleWeight:var(--fontWeightSemibold);
    --titleLineHeight:40px;
    --titleLetterSpacing:-0.64px;
    --bodyFontSize:18px;
    --bodyLineHeight:1.5555555556
}
@media (min-width:900px){
    .HubPage .content-box.variant--Section{
        --titleFontSize:48px;
        --titleLineHeight:56px;
        --titleLetterSpacing:-0.96px
    }
}
.CondensedExperiment .content-box.variant--Section{
    --rowGap:16px
}
.content-box.variant--Subsection{
    --paddingRight:var(--columnPaddingXLarge);
    --rowGap:var(--rowGapMedium);
    --titleFontSize:24px;
    --titleLineHeight:1.333333333;
    --titleWeight:var(--fontWeightBold);
    --titleLetterSpacing:0.1px;
    --paragraphGap:20px
}
.HubPage .content-box.variant--Subsection{
    --rowGap:16px;
    --footerRowGap:32px;
    --titleFontSize:24px;
    --titleLineHeight:32px;
    --titleWeight:var(--fontWeightSemibold);
    --bodyFontSize:18px;
    --bodyLineHeight:28px
}
@media (min-width:600px){
    .HubPage .content-box.variant--Subsection{
        --titleFontSize:28px;
        --titleLineHeight:36px;
        --paddingRight:40px
    }
}
.content-box.variant--Footer{
    --paddingRight:var(--columnPaddingXLarge);
    --rowGap:var(--rowGapMedium);
    --paragraphGap:20px
}
.content-box.variant--Footer,.content-box.variant--Stat{
    --titleFontSize:24px;
    --titleLineHeight:1.333333333;
    --titleWeight:var(--fontWeightBold);
    --titleLetterSpacing:0.1px
}
.content-box.variant--Detail,.content-box.variant--Stat{
    --rowGap:var(--rowGapNormal);
    --titleBorderColor:var(--accentColor);
    --bodyFontSize:15px;
    --bodyLineHeight:1.6
}
.content-box.variant--Detail{
    --titleFontSize:15px;
    --titleLineHeight:1.6;
    --titleWeight:var(--fontWeightSemibold);
    --titleLetterSpacing:0.2px;
    --paragraphGap:8px
}
html[lang^=ja] .content-box.variant--Detail{
    --titleWeight:425
}
.HubPage .content-box.variant--Detail{
    --titleFontSize:18px;
    --titleWeight:var(--fontWeightSemibold);
    --titleLineHeight:28px;
    --bodyFontSize:15px;
    --bodyLineHeight:24px
}
@media (min-width:600px){
    .HubPage .content-box.variant--Detail{
        --paddingRight:40px
    }
}
.content-box__title.content-box__title--wrapBalance{
    text-wrap:balance
}
@media (min-width:600px){
    .content-box.variant--Subsection{
        --titleFontSize:26px;
        --titleLineHeight:1.384615385;
        --titleLetterSpacing:0
    }
}
@media (min-width:1112px){
    .content-box.variant--Hero{
        --titleFontSize:56px;
        --titleLineHeight:68px
    }
    .content-box.variant--Section{
        --titleFontSize:38px;
        --titleLineHeight:1.263157895;
        --titleLetterSpacing:-0.2px
    }
}
.content-box{
    --titleFont:var(--titleWeight) var(--titleFontSize)/var(--titleLineHeight) var(--fontFamily);
    --captionFont:var(--fontWeightBold) var(--captionFontSize,18px)/var(--captionLineHeight,1.555555556) var(--fontFamily);
    --bodyFont:var(--fontWeightNormal) var(--bodyFontSize,18px)/var(--bodyLineHeight,1.555555556) var(--fontFamily);
    letter-spacing:.2px
}
.content-box,.content-box__header{
    display:grid;
    row-gap:var(--rowGap)
}
.content-box__header{
    position:relative;
    padding:0 var(--headerPaddingRight) 0 var(--headerPaddingLeft);
    max-width:var(--headerMaxWidth)
}
.content-box__header.variant--HeroCondensed{
    align-items:center;
    display:flex;
    padding:0 16px 0 var(--headerPaddingLeft)
}
.content-box__header.variant--HeroCondensed .content-box__icon{
    margin-right:16px
}
.content-box__header.variant--HeroCondensed .content-box__title{
    font-size:15px;
    font-weight:500
}
.content-box__header.variant--Condensed{
    --rowGap:16px
}
.content-box__icon{
    min-height:40px;
    display:flex;
    align-items:flex-end;
    margin-bottom:var(--rowGap)
}
.content-box__caption{
    font:var(--captionFont);
    color:var(--accentColor)
}
html[lang^=ja] .content-box__caption{
    font-weight:600;
    font-variation-settings:"wght" 500
}
.content-box__title{
    position:relative;
    font:var(--titleFont);
    color:var(--titleColor);
    letter-spacing:var(--titleLetterSpacing,inherit)
}
html[lang^=ja] .content-box__title{
    font-weight:600;
    font-variation-settings:"wght" var(--titleWeight)
}
.content-box__title:before{
    display:var(--titleAnchorDisplay,block);
    position:absolute;
    top:calc(.5px + var(--titleLineHeight)*var(--titleFontSize)/2 - var(--titleFontSize)/2);
    left:calc(var(--headerPaddingLeft)*-1);
    width:1px;
    height:var(--titleFontSize);
    background-color:var(--titleBorderColor,transparent);
    content:""
}
.content-box__title .Badge{
    position:relative;
    top:-3px;
    margin-left:2px
}
.variant--Detail .content-box__title .Badge{
    top:-1px
}
.content-box__body.variant--Detail{
    --bodyFont:var(--fontWeightNormal) 15px/1.6 var(--fontFamily)
}
.content-box__body{
    padding:0 var(--bodyPaddingRight) 0 var(--bodyPaddingLeft);
    font:var(--bodyFont);
    color:var(--textColor);
    max-width:var(--bodyMaxWidth)
}
.content-box__body img{
    max-width:100%
}
.content-box__body p+p{
    margin-top:var(--paragraphGap)
}
.content-box__body .content-box__body--wrapBalance{
    text-wrap:balance
}
.content-box__footer{
    display:grid;
    grid-auto-columns:minmax(0,1fr);
    row-gap:var(--footerRowGap);
    margin-top:calc(var(--footerGap, var(--rowGap)) - var(--rowGap));
    padding:0 var(--footerPaddingRight) 0 var(--footerPaddingLeft)
}
.content-box__footer>.cta-link,.content-box__footer>.CtaLink{
    justify-self:flex-start
}
.content-box__footer>.List[data-column-count="2"]{
    max-width:calc(var(--columnWidth)*2)
}
.content-box__footer>.content-boxBody--anchored{
    margin-left:calc(var(--columnPaddingNormal)*-1)
}
.content-box__ctaContainer{
    display:flex;
    align-items:center;
    -moz-column-gap:var(--ctaSpacing);
    column-gap:var(--ctaSpacing)
}
@media (max-width:899px){
    .content-box__ctaContainer{
        flex-wrap:wrap
    }
}
.content-box__ctaContainer>.cta-link:first-of-type,.content-box__ctaContainer>.cta-link:last-of-type{
    margin-bottom:16px
}
.content-box__ctaContainer>.cta-link:first-of-type:last-of-type{
    margin-bottom:0
}
.content-box.variant--Superhero{
    --rowGap:var(--rowGapLarge);
    --titleWeight:var(--fontWeightBold);
    --paragraphGap:20px
}
.HubPage .content-box.variant--Superhero{
    --titleFontMin:50;
    --titleFontMax:76;
    --viewportMin:var(--viewportWidthSmall);
    --viewportMax:var(--viewportWidthMedium);
    --titleFontSize:calc(var(--titleFontMin)*1px + (var(--titleFontMax) - var(--titleFontMin))*(var(--windowWidth) - var(--viewportMin)*1px)/(var(--viewportMax) - var(--viewportMin)));
    ;
    --titleLineHeight:1.04;
    --titleLetterSpacing:-0.04em;
    --titleWeight:var(--fontWeightSemibold);
    --titleFont:var(--titleWeight) var(--titleFontSize)/var(--titleLineHeight) var(--fontFamily);
    --headerMarginTop:100px;
    --headerPadding:0 var(--headerPaddingRight) 0 var(--headerPaddingLeft);
    min-width:0;
    padding:var(--headerPadding);
    --rowGap:var(--rowGapLarge);
    --paragraphGap:20px
}
@media (min-width:600px){
    .HubPage .content-box .variant--Superhero{
        --headerPaddingRight:var(--columnPaddingNone);
        --titleFontMin:60;
        --viewportMin:var(--viewportWidthMedium);
        --viewportMax:var(--viewportWidthLarge)
    }
}
@media (min-width:900px) and (max-height:700px){
    .HubPage .content-box .variant--Superhero{
        --titleFontSize:64px
    }
}
@media (min-width:1112px){
    .HubPage .content-box .variant--Superhero{
        --titleFontSize:76px
    }
}
