.hero-section.Section{
    --sectionPaddingTopMax:116
}
@media (max-width:899px){
    .hero-section.Section{
        --sectionPaddingBottomMax:calc(var(--sectionPaddingNormalMax) + 40)
    }
}
@media (max-width:599px){
    .intro-graphic{
        display:none
    }
}
.hero-section-cta{
    will-change:opacity
}
.hero-section-ctas{
    display:flex;
    align-items:center;
    -moz-column-gap:var(--ctaSpacing);
    column-gap:var(--ctaSpacing);
    flex-wrap:wrap
}
@media (min-width:900px){
    .hero-section-ctas{
        display:none
    }
}
.hero-section__emailInput{
    display:none;
    width:100%
}
@media (min-width:900px){
    .hero-section__emailInput{
        display:block
    }
}

.HeroEmailInput{
    display:flex;
    flex-direction:column;
    max-width:384px;
    min-width:310px;
    width:100%
}
@media (max-width:600px){
    .HeroEmailInput{
        align-items:center
    }
}
.HeroEmailInput .HeroEmailInput__form{
    flex:1;
    position:relative
}
.HeroEmailInput .HeroEmailInput__form .EmailInput input::-moz-placeholder{
    color:#3f4b66
}
.HeroEmailInput .HeroEmailInput__form .EmailInput input::placeholder{
    color:#3f4b66
}
.HeroEmailInput .HeroEmailInput__form .EmailInput__input{
    background-color:#f6f9fb;
    border-radius:32px;
    border:1px solid rgba(171,181,197,.30196078431372547);
    padding:9.5px 138px 9.5px 18px
}
.HeroEmailInput .HeroEmailInput__form .HeroEmailInput__button{
    position:absolute;
    top:6px;
    right:6px;
    bottom:6px
}
.HeroEmailInput .HeroContactSalesMobile__link{
    margin-top:24px;
    display:none
}
@media (max-width:600px){
    .HeroEmailInput .HeroContactSalesMobile__link{
        display:block
    }
}

.EmailInput{
    --EmailInputBorderRadius:4px;
    --EmailInputErrorWidth:32px;
    --EmailInputHorizontalPadding:12px;
    --EmailInputIconLeft:0;
    --EmailInputIconPadding:8px;
    --EmailInputPaddingTop:5px;
    --EmailInputPaddingBottom:7px;
    width:100%;
    position:relative;
    display:flex;
    flex-direction:column
}
.EmailInput__icon{
    position:absolute;
    top:50%;
    left:var(--EmailInputIconLeft);
    transform:translate(var(--EmailInputIconPadding),-50%)
}
.EmailInput__icon+.EmailInput__input{
    padding-left:calc(16px + var(--EmailInputIconPadding)*2)
}
.EmailInput__input{
    width:100%;
    background:var(--inputBackground);
    border:none;
    border-radius:var(--EmailInputBorderRadius);
    outline:none;
    color:var(--inputTextColor);
    padding:var(--EmailInputPaddingTop) var(--EmailInputHorizontalPadding) var(--EmailInputPaddingBottom);
    font:var(--fontWeightNormal) 15px/24px var(--fontFamily)
}
.EmailInput__input::-moz-placeholder{
    color:var(--inputPlaceholderColor)
}
.EmailInput__input::placeholder{
    color:var(--inputPlaceholderColor)
}
.EmailInput__input--touched:invalid:not(:focus){
    box-shadow:0 0 0 1px var(--inputErrorAccentColor);
    padding-right:var(--EmailInputErrorWidth)
}
.EmailInput__input:focus-visible{
    box-shadow:var(--focusBoxShadow)
}
.EmailInput__error{
    position:absolute;
    right:0;
    top:0;
    height:100%;
    width:var(--EmailInputErrorWidth);
    align-items:center;
    justify-content:center;
    border-radius:var(--EmailInputBorderRadius);
    background:var(--inputBackground)
}
.EmailInput__input--touched:invalid+.EmailInput__error{
    display:flex
}
.EmailInput__input--touched:invalid:focus+.EmailInput__error{
    display:none
}
.EmailInput__input--multiline{
    min-height:64px;
    resize:vertical
}
