html{
    --gutterWidth:16px;
    --scrollbarWidth:0px;
    --windowWidth:calc(100vw - var(--scrollbarWidth));
    --layoutWidth:calc(var(--windowWidth) - var(--gutterWidth)*2);
    --layoutWidthMax:1080px;
    --viewportWidthSmall:375;
    --viewportWidthMedium:600;
    --viewportWidthLarge:1112;
    --viewportScale:calc(var(--windowWidth)/var(--viewportWidthLarge));
    --paddingTop:160px;
    --paddingBottom:160px;
    --columnPaddingNone:0;
    --columnPaddingSmall:8px;
    --columnPaddingNormal:16px;
    --columnPaddingMedium:16px;
    --columnPaddingLarge:16px;
    --columnPaddingXLarge:16px;
    --rowGapNormal:8px;
    --rowGapMedium:24px;
    --rowGapLarge:32px;
    --rowGapXLarge:64px;
    --rowGapXXLarge:88px;
    --rowGap:var(--rowGapNormal);
    --columnCountMax:1;
    --columnWidth:calc(var(--layoutWidth)/var(--columnCountMax));
    --columnMaxWidth:calc(var(--layoutWidthMax)*0.25);
    --copyMaxWidth:calc(var(--columnMaxWidth)*3)
}
@media (min-width:600px){
    html{
        --columnPaddingMedium:32px;
        --columnPaddingLarge:64px;
        --columnPaddingXLarge:64px;
        --columnCountMax:2
    }
}
@media (min-width:900px){
    html{
        --columnPaddingXLarge:112px;
        --columnCountMax:4
    }
}
@media (min-width:1112px){
    html{
        --layoutWidth:var(--layoutWidthMax);
        --gutterWidth:calc(var(--windowWidth)/2 - var(--layoutWidth)/2)
    }
}

.app-root{
    --fontFamily:"sohne-var","Helvetica Neue","Arial",sans-serif;
    --fontWeightLight:200;
    --fontWeightNormal:300;
    --fontWeightSemibold:425;
    --fontWeightBold:500;
    --systemFontFamily:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    --codeFontFamily:"SourceCodePro";
    --sourceCodeFont:500 14px/1.714285714 var(--codeFontFamily);
    --ctaFont:var(--fontWeightSemibold) 15px/1.6 var(--fontFamily);
    --inputFont:var(--fontWeightNormal) 15px/1.6 var(--fontFamily);
    --cardShadowXSmall:0 2px 5px -1px rgba(50,50,93,0.25),0 1px 3px -1px rgba(0,0,0,0.3);
    --cardShadowSmall:0 6px 12px -2px rgba(50,50,93,0.25),0 3px 7px -3px rgba(0,0,0,0.3);
    --cardShadowMedium:0 13px 27px -5px rgba(50,50,93,0.25),0 8px 16px -8px rgba(0,0,0,0.3);
    --cardShadowLarge:0 30px 60px -12px rgba(50,50,93,0.25),0 18px 36px -18px rgba(0,0,0,0.3);
    --cardShadowLargeInset:inset 0 30px 60px -12px rgba(50,50,93,0.25),inset 0 18px 36px -18px rgba(0,0,0,0.3);
    --cardShadowXLarge:0 50px 100px -20px rgba(50,50,93,0.25),0 30px 60px -30px rgba(0,0,0,0.3);
    --cardShadowXSMallMargin:2px;
    --cardShadowSmallMargin:8px;
    --cardShadowMediumMargin:16px;
    --cardShadowLargeMargin:32px;
    --cardShadowXLargeMargin:48px;
    --cardBorderRadius:8px;
    --filterShadowMedium:0px 3px 11.5px -3.5px rgba(50,50,93,0.25),0px 3.8px 7.5px -3.7px rgba(0,0,0,0.1);
    --scrollbarOffset:10px;
    --angleNormal:-6deg;
    --angleStrong:-12deg;
    --angleNormalSin:0.106;
    --angleStrongSin:0.212;
    --modalZIndex:999999;
    --fixedNavHeight:60px;
    --fixedNavSpacing:48px;
    --fixedNavScrollMargin:calc(var(--fixedNavHeight) + var(--fixedNavSpacing));
    --hoverTransition:150ms cubic-bezier(0.215,0.61,0.355,1);
    --focusBoxShadow:0 0 0 2px #4d90fe,inset 0 0 0 2px hsla(0,0%,100%,0.9);
    color-scheme:only light
}
.app-root *,.app-root :after,.app-root :before{
    box-sizing:border-box
}
@media (prefers-reduced-motion:reduce){
    .app-root{
        --hoverTransition:none
    }
}
.app-root[data-loading]{
    overflow-x:hidden
}
.app-root[data-loading] :after,.app-root[data-loading] :before,.app-root[data-loading] :not([data-transition-in]){
    transition:none!important
}
.content-body{
    margin:0;
    font-family:var(--fontFamily);
    font-weight:var(--fontWeightNormal);
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    color:var(--textColor);
    background:var(--backgroundColor)
}
.content-body--noScroll{
    overflow:hidden
}
.ThirdPartyFrame{
    width:1px;
    height:1px;
    position:fixed;
    visibility:hidden;
    pointer-events:none
}
blockquote,figure,h1,h2,h3,h4,h5,h6,p,pre{
    margin:0
}
a{
    text-decoration:none
}
strong{
    font-weight:var(--fontWeightBold)
}
