@media (min-width:600px){
    @font-face{
        font-family:sohne-var;
        src:url(fonts/f965fdf4.woff2) format("woff2-variations");
        font-weight:1 1000;
        font-display:block
    }
    @font-face{
        font-family:SourceCodePro;
        src:url(fonts/1a930247.woff2) format("woff2"),url(fonts/ac6713d5.woff) format("woff");
        font-weight:500;
        font-style:normal;
        font-display:block
    }
}
@media (max-width:599px){
    @font-face{
        font-family:sohne-var;
        src:url(fonts/f965fdf4.woff2) format("woff2-variations");
        font-weight:1 1000;
        font-display:swap
    }
    @font-face{
        font-family:SourceCodePro;
        src:url(fonts/1a930247.woff2) format("woff2"),url(fonts/ac6713d5.woff) format("woff");
        font-weight:500;
        font-style:normal;
        font-display:swap
    }
}
