.Section{
    --sectionAngleSin:var(--angleNormalSin);
    --sectionAngle:0;
    --sectionPaddingSmallMax:110;
    --sectionPaddingXSmallMax:72;
    --sectionPaddingMin:72;
    --sectionPaddingMax:var(--sectionPaddingNormalMax);
    --sectionPaddingTopMax:var(--sectionPaddingMax);
    --sectionPaddingBottomMax:var(--sectionPaddingMax);
    --sectionMarginTop:0;
    --sectionMarginBottom:0;
    --sectionAngleHeight:calc(var(--windowWidth)*var(--sectionAngleSin));
    --sectionAnglePaddingBaseMin:100;
    --sectionAnglePaddingBaseMax:var(--sectionPaddingMax);
    --sectionAnglePaddingTopBaseMax:var(--sectionAnglePaddingBaseMax);
    --sectionAnglePaddingBottomBaseMax:var(--sectionAnglePaddingBaseMax);
    --sectionAngleMaxHeight:none;
    --sectionOverflow:hidden;
    --sectionTransformOrigin:100% 0;
    --sectionBackgroundOverflow:visible;
    position:relative;
    z-index:1;
    margin-top:var(--sectionMarginTop);
    margin-bottom:var(--sectionMarginBottom);
    color:var(--textColor);
    scroll-margin-top:calc(var(--fixedNavHeight) + var(--fixedNavSpacing) - var(--sectionPaddingTop))
}
.HubPage .Section,.Section{
    --sectionPaddingNormalMax:128
}
.HubPage .Section{
    --sectionPaddingSmallMax:112;
    --sectionPaddingXSmallMax:96;
    --sectionPaddingMin:96
}
.Section--hasStickyNav{
    --sectionOverflow:visible
}
.Section--hasBorderTop .background{
    border-top:1px solid rgba(230,235,241,.52)
}
.Section--paddingSmall{
    --sectionPaddingMax:var(--sectionPaddingSmallMax)
}
.Section--paddingXSmall{
    --sectionPaddingMax:var(--sectionPaddingXSmallMax)
}
.Section{
    --sectionAnglePaddingTopBase:calc(var(--sectionAnglePaddingBaseMin)*1px + (var(--sectionAnglePaddingTopBaseMax) - var(--sectionAnglePaddingBaseMin))*(var(--windowWidth)/737 - 0.50882px));
    ;
    --sectionAnglePaddingBottomBase:calc(var(--sectionAnglePaddingBaseMin)*1px + (var(--sectionAnglePaddingBottomBaseMax) - var(--sectionAnglePaddingBaseMin))*(var(--windowWidth)/737 - 0.50882px));
    ;
    --sectionPaddingTopGutterWidth:var(--gutterWidth);
    --sectionAnglePaddingTop:calc(var(--sectionAngleHeight) - var(--sectionAngleSin)*var(--sectionPaddingTopGutterWidth) + var(--sectionAnglePaddingTopBase));
    --sectionAnglePaddingBottom:calc(var(--sectionAngleHeight) - var(--sectionAngleSin)*var(--gutterWidth) + var(--sectionAnglePaddingBottomBase));
    --sectionPaddingTop:calc(var(--sectionPaddingMin)*1px + (var(--sectionPaddingTopMax) - var(--sectionPaddingMin))*(var(--windowWidth)/737 - 0.50882px));
    ;
    --sectionPaddingBottom:calc(var(--sectionPaddingMin)*1px + (var(--sectionPaddingBottomMax) - var(--sectionPaddingMin))*(var(--windowWidth)/737 - 0.50882px));
}
@media (max-width:375px){
    .Section{
        --sectionAnglePaddingTopBase:calc(var(--sectionAnglePaddingBaseMin)*1px);
        --sectionAnglePaddingBottomBase:calc(var(--sectionAnglePaddingBaseMin)*1px);
        --sectionPaddingTop:calc(var(--sectionPaddingMin)*1px);
        --sectionPaddingBottom:calc(var(--sectionPaddingMin)*1px)
    }
}
@media (min-width:1112px){
    .Section{
        --sectionAnglePaddingTopBase:calc(var(--sectionAnglePaddingTopBaseMax)*1px);
        --sectionAnglePaddingBottomBase:calc(var(--sectionAnglePaddingBottomBaseMax)*1px);
        --sectionPaddingTop:calc(var(--sectionPaddingTopMax)*1px);
        --sectionPaddingBottom:calc(var(--sectionPaddingBottomMax)*1px)
    }
}
.background{
    position:relative;
    height:100%;
    max-height:var(--sectionAngleMaxHeight);
    width:100%;
    top:0;
    left:0;
    transform-origin:var(--sectionTransformOrigin);
    transform:skewY(var(--sectionAngle));
    background:var(--backgroundColor);
    overflow:hidden
}
.background--isTransparent{
    background:hsla(0,0%,100%,.2);
    -webkit-backdrop-filter:blur(7px);
    backdrop-filter:blur(7px)
}
.content-wrapper{
    overflow:var(--sectionOverflow)
}
.section-container{
    position:relative;
    z-index:1;
    display:flex;
    justify-content:center;
    min-height:var(--sectionMinHeight)
}
.section-layout-container{
    width:100%;
    max-width:var(--layoutWidth);
    margin:0 var(--columnPaddingNormal)
}
.section-layout{
    padding:var(--sectionPaddingTop) 0 var(--sectionPaddingBottom)
}
.Section--angleTop{
    --sectionPaddingTop:var(--sectionAnglePaddingTop);
    --sectionAngle:var(--angleNormal)
}
.Section--angleBottom{
    --sectionTransformOrigin:0 0
}
.Section--angleBoth,.Section--angleBottom{
    --sectionPaddingBottom:var(--sectionAnglePaddingBottom);
    --sectionMarginBottom:calc(var(--sectionAngleHeight)*-1)
}
.Section--angleBoth{
    --sectionPaddingTop:var(--sectionAnglePaddingTop);
    --sectionAngle:var(--angleNormal)
}
.Section--bleed3{
    --sectionPaddingBottom:0
}
.background-masked{
    position:absolute;
    width:100%;
    height:100%;
    overflow:var(--sectionBackgroundOverflow)
}
.Section--paddingTopNone{
    --sectionPaddingTop:0
}
.Section--paddingTopXXLarge{
    --sectionPaddingTop:160px
}
@media (min-width:600px){
    .Section--paddingTopXXLarge{
        --sectionPaddingTop:calc(90px + 15vw)
    }
}
.Section--paddingBottomNone{
    --sectionPaddingBottom:0
}
.Section--marginTopLarge{
    --sectionMarginTop:20px
}
@media (min-width:600px){
    .Section--marginTopLarge{
        --sectionMarginTop:40px
    }
}
@media (min-width:900px){
    .Section--peekingContent .section-layout{
        padding-top:calc(var(--sectionPaddingTop) + 45px)
    }
}
@media (min-width:900px){
    .Section--peekingContent--invoicing .section-layout{
        padding-top:calc(var(--sectionPaddingTop) - 65px)
    }
}
