.cta-link{
    display:inline-block;
    padding:3px 0 6px;
    border-radius:16.5px;
    font:var(--ctaFont);
    color:var(--buttonColor);
    transition:var(--hoverTransition);
    outline:none
}
.keyboard-navigation .cta-link:focus{
    box-shadow:var(--focusBoxShadow)
}

.cta-link.variant--Link{
    font-weight:var(--linkWeight,var(--fontWeightSemibold));
    transition-property:color,opacity
}
@media (pointer:fine){
    .cta-link.variant--Link:hover{
        color:var(--linkHoverColor,var(--linkColor));
        opacity:var(--linkHoverOpacity,1)
    }
}
@media (pointer:coarse){
    .cta-link.variant--Link:active{
        color:var(--linkHoverColor,var(--linkColor));
        opacity:var(--linkHoverOpacity,1)
    }
}
.cta-link.type--Button{
    padding-left:16px;
    padding-right:16px;
    background-color:var(--buttonColor);
    color:var(--knockoutColor);
    white-space:nowrap;
    transition-property:background-color,opacity
}
.cta-link.type--Button.cta-link--arrow{
    padding-right:12px
}
@media (pointer:fine){
    .cta-link.type--Button:hover{
        background-color:var(--buttonHoverColor,var(--buttonColor));
        opacity:var(--buttonHoverOpacity,1)
    }
}
@media (pointer:coarse){
    .cta-link.type--Button:active{
        background-color:var(--buttonHoverColor,var(--buttonColor));
        opacity:var(--buttonHoverOpacity,1)
    }
}
