.NavCtaGradient{
    --buttonColor:#fff;
    --buttonHoverColor:hsla(0,0%,100%,0.9);
    --initialGradientColor:linear-gradient(90deg,#e18638,#e17a38)
}
.NavCtaGradient .cta-link.type--Button .NavCta__label{
    background:var(--initialGradientColor);
    will-change:color;
    background-clip:text!important;
    -webkit-background-clip:text!important;
    -webkit-text-fill-color:transparent!important;
    transition:background .3s linear
}
.NavCtaGradient .cta-link.type--Button .HoverArrow{
    stroke:#e17a38;
    will-change:stroke;
    transition:stroke .3s linear
}
